* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./bg.png");
  background-size: cover;
  background-position: left top;
  font-family: "Zilla Slab", serif;
}

.box-container {
  width: 70%;
  margin: 0 auto;
}

#question {
  height: 6.25rem;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.563rem;
  border-radius: 0.938rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
  backdrop-filter: blur(0.313rem);
  margin-bottom: 1.875rem;
}

#display {
  height: 6.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 5rem;
  color: white;
  font-size: 2rem;
  background-color: #171717;
  border: 0.125rem solid #9dffad;
  border-radius: 0.938rem;
}

#countdown {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: white;
  display: none;
}
#result {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  height: 15.625rem;
  width: 25rem;
  background-color: #171717;
  border-radius: 0.938rem;
  border: 0.125rem solid #9dffad;
  color: white;
  text-align: center;
  padding: 2rem;
}
#show-time{
  text-align: center;
  color: white;
  margin: 0.625rem 0;
}

.green {
  color: #9dffad;
}
.red {
  color: #eb6565;
}
.bold {
  font-weight: 700;
}
.inactive {
  border: 0.125rem solid white !important;
}
.hidden {
  display: none;
}
.title {
  text-align: center;
  color: white;
  margin: 1.25rem 0;
}

.divider-container {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.938rem;
  margin: 0 auto;
}

.line {
  height: 0.125rem;
  background: white;
  width: 100%;
}

.title2 {
  color: white;
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1.875rem 0;
}
button {
  padding: 0.625rem 1.25rem;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  width: 18.75rem;
  height: 3.125rem;
  color: white;
  background-color: #171717;
  border-radius: 0.625rem;
  border: 0.125rem solid #9dffad;
  cursor: pointer;
}

#histories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 288px;
  height: 190px;
  padding: 3.125rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 1.875rem;
  color: white;
  border-radius: 0.938rem;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
  backdrop-filter: blur(0.313rem);
  margin-bottom: 1.875rem;
}

#modal-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    92.49deg,
    rgba(255, 255, 255, 0.1) 0.18%,
    rgba(255, 255, 255, 0.05) 99.85%
  );
  backdrop-filter: blur(00.313rem);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
}

@media only screen and (max-width: 43.75rem) {
  .box-container {
    padding: 0 1.25rem;
    width: 100%;
  }
  .card {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
